# Virtual environment
.venv/
*-env/
*_env/

# IDE specific files
.idea/
.vscode/

# Compiled Python files
__pycache__/

# Test cache
.pytest_cache/

# Code quality tools
.flake8

# Generated or temporary files
trash*

# Configuration files
keys.ini

# Build files
*.egg-info/
build/
dist/
# Additional files
test2.py
config/
